<div class="col-md-12" style="padding: 25px;">
	<h4 class="tittle">MI PERFIL</h4>
</div>
<div class="col-md-9 col-sm-9">
	<div class="panel box-v1">
		<div class="panel-body" style="padding-top: 10px;">	
			<h4 class="tittle" style="padding-bottom: 15px;">Información personal</h4>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Nombre/usuario:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">Angie</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Género:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">Mujer</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Nacionalidad:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">Mexicana</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Edad:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">36</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Fecha de nacimiento:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">24/10/1981</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Estado Civil:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">Casada</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary btn-pill">Editar</button>
				</div>
			</div>
			<h4 class="tittle" style="padding-top:25px; padding-bottom: 15px;">Información de contacto</h4>
			<div class="row">
				<div class="col-sm-1">
					<span class="fa fa-phone custom-right"></span>
				</div>
				<div class="col-sm-3 custom-left">(55) 5598 6989</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<span class="fa fa-envelope custom-right"></span>
				</div>
				<div class="col-sm-3 custom-left">angie@gmail.com</div>
			</div>
			<h4 class="tittle" style="padding-top:25px; padding-bottom: 15px;">Historia clínica</h4>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos in ad dolores eaque reiciendis dolore dolorum assumenda architecto expedita ipsa animi, perspiciatis, nulla voluptates placeat culpa, dolor quam amet? Corrupti.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ex sapiente! Ipsa magni ipsam optio nostrum delectus voluptatem accusantium vitae sit dolorum iusto iure ipsum obcaecati, id vero numquam fugiat.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quidem amet odio fuga est laudantium iusto deleniti saepe officia, molestiae nesciunt recusandae quasi aperiam blanditiis atque quos alias nemo totam!
			</p>
			<h4 class="tittle" style="padding-top:25px; padding-bottom: 15px; color:black;">Adicional</h4>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos in ad dolores eaque reiciendis dolore dolorum assumenda architecto expedita ipsa animi, perspiciatis, nulla voluptates placeat culpa, dolor quam amet? Corrupti.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ex sapiente! Ipsa magni ipsam optio nostrum delectus voluptatem accusantium vitae sit dolorum iusto iure ipsum obcaecati, id vero numquam fugiat.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo quidem amet odio fuga est laudantium iusto deleniti saepe officia, molestiae nesciunt recusandae quasi aperiam blanditiis atque quos alias nemo totam!
			</p>
			<div class="row">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary btn-pill">Editar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		<div class="col-sm-offset-2">
			<img src="asset/img/avatar.jpg" class="img-circle avatar1" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-3 custom-top text-center">
			<button type="button" class="btn btn-primary btn-pill">Editar</button>
		</div>
	</div>
</div>