<div class="col-md-12" style="padding: 25px;">
	<h4 class="tittle">MI PERFIL</h4>
</div>
<div class="col-md-9">
	<div class="panel box-v1">
		<div class="panel-body" style="padding-top: 10px;">	
			<h4 class="tittle" style="padding-bottom: 15px;">Información personal</h4>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Nombre/usuario:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">Angie</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Género:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">Mujer</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Nacionalidad:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">Mexicana</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Edad:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">36</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Fecha de nacimiento:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">24/10/1981</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label style="font-weight:bold;">Estado Civil:</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label style="font-weight:bold;">Casada</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary btn-pill">Editar</button>
				</div>
			</div>
			<h4 class="tittle" style="padding-top:25px; padding-bottom: 15px;">Información de contacto</h4>
			<div class="row">
				<div class="col-sm-1">
					<span class="fa fa-phone custom-right"></span>
				</div>
				<div class="col-sm-3 custom-left">(55) 5598 6989</div>
			</div>
			<div class="row">
					<div class="col-sm-1">
						<span class="fa fa-envelope custom-right"></span>
					</div>
					<div class="col-sm-3 custom-left">angie@gmail.com</div>
				</div>
		</div>
	</div>
</div>

<div class="col-md-3">
	<div class="panel box-v1">
		<div class="panel-body"></div>
	</div>
</div>