<div class="col-md-12" style="padding: 25px;">
	<h4 class="tittle">SESIONES PASADAS</h4>
</div>
<div class="col-md-12 padding-0">
	<div class="col-md-12">
		<div class="panel box-v4">
			<div class="panel-body">	
				<table class="table table-bordered" id="pastTable" width="100%">
					<thead style="background: #8CC63F; color:white;">
						<tr>
							<th class="text-center">Fecha</th>
							<th class="text-center">Horario</th>
							<th class="text-center">Terapeuta</th>
							<th class="text-center">Estatus</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center">11/11/2017</td>
							<td class="text-center">6:00 pm</td>
							<td>Sara Beneyto</td>
							<td><span style="font-weight: bold;">CANCELADA</span>
						</tr>
						<tr>
							<td class="text-center">14/11/2017</td>
							<td class="text-center">6:00 pm</td>
							<td>Sara Beneyto</td>
							<td><span style="font-weight: bold;">RECIBIDA</span>
						</tr>
						<tr>
							<td class="text-center">20/11/2017</td>
							<td class="text-center">6:00 pm</td>
							<td>Sara Beneyto</td>
							<td><span style="font-weight: bold;">AGENDADA</span>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>