<div class="col-md-12" style="padding: 25px;">
	<h4 class="tittle">SESIONES PASADAS</h4>
</div>
<div class="col-md-12">
	<div class="panel box-v1">
		<div class="panel-body">	
			<table class="table table-bordered" id="pastTable" width="100%">
				<thead style="background: #8CC63F; color:white;">
					<tr>
						<th class="text-center">Fecha</th>
						<th class="text-center">Horario</th>
						<th class="text-center">Terapeuta</th>
						<!-- <th>Estatus</th> -->
					</tr>
	      	    </thead>
	      	    <tbody>
	      	    	<tr>
	      	    		<td>John</td>
	      	    		<td>Doe</td>
	      	    		<td>john@example.com</td>
	      	    	</tr>
	      	    	<tr>
	      	    		<td>Mary</td>
	      	    		<td>Moe</td>
	      	    		<td>mary@example.com</td>
	      	    	</tr>
	      	    	<tr>
	      	    		<td>July</td>
	      	    		<td>Dooley</td>
	      	    		<td>july@example.com</td>
	      	    	</tr>
		    	</tbody>
			</table>
		</div>
	</div>
</div>
