<h4 class="tittle" style="margin-left:5px;">
	Información:                            
</h4>

<p class="info-p text-justify">
	<span style="font-weight: bold;">RECIBIDA:</span>&nbsp;Terapia recibida correctamente.
</p>

<p class="info-p text-justify">
	<span style="font-weight: bold;">CANCELADA:</span>&nbsp;Cuando cancela su cita 24 horas antes de la sesión original.
</p>

<p class="info-p text-justify">
	<span style="font-weight: bold;">SUSPENDIDA:</span>&nbsp;Cuando por motivos de alguna emergencia del terapeuta se aplaza la sesión. (CAUSA)
</p>

<p class="info-p text-justify">
	<span style="font-weight: bold;">CANCELADA:</span>&nbsp;Cuando cancela después de las 24 horas en que tiene su cita o cuando no se presenta a su cita.
</p>

<p class="info-p text-justify">
	<span style="font-weight: bold;">AGENDADA:</span>&nbsp;Cuando agenda una próxima cita y está pendiente de recibirla.
</p>