<h4 class="tittle" style="margin-left:5px;">
	Información:                            
</h4>

<p class="info-p" style="padding: 5px;">
	¿TIENES DUDAS?
</p>

<p class="info-p" style="padding: 5px;">
	Puedes ponerte en contacto con nuestro servicio de soporte técnico de 9:00 am a 6:00 pm de lunes a viernes.
</p>

<p class="info-p" style="padding: 5px;">
	<span class="fa fa-phone"></span>&nbsp;&nbsp;(55) 5598 6989
</p>

<p class="info-p" style="padding: 5px;">
	<span class="fa fa-envelope"></span>&nbsp;&nbsp;soporte@cuidadosamente.com
</p>

<p class="info-p" style="padding: 5px;">
	<span style="font-weight: bold;">¿Quieres que te llamemos?</span>
</p>

<p class="info-p" style="padding: 5px;">
	Ingresa tu número telefónico
</p>