@font-face{
	font-family:'Raleways';
	src:url(../fonts/Raleway-Regular.ttf) format("truetype");
}

h1.tittle{
	font-family: 'Raleways',sans-serif;
}

.tittle {
	font-weight: bold;
	color: #00C4B3;
}

.info-p {
	line-height: 105%;
	padding: 0px;
	font-size: 11.3px;
}