@font-face{
	font-family:'Raleways';
	src:url(../fonts/Raleway-Regular.ttf) format("truetype");
}

@font-face {
	font-family: 'Raleway-bold';
	src:url(../fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
	font-family: 'Reef';
	src:url(../fonts/Reef.otf) format("truetype");
}

body {
	font-family: 'Raleways';
}

h1.tittle{
	font-family: 'Raleways',sans-serif;
}

.tittle {
	font-weight: bold;
	color: #00C4B3;
}

.info-p {
	line-height: 105%;
	padding: 0px;
	font-size: 11.3px;
}

.custom-top{
	padding-top: 10px;
}

.btn-pill {
	border-radius: 999rem !important;
}

.custom-left {
	padding-left: 0px; 
}

.custom-right {
	padding-right: 0px;
}

.custom-bottom {
	padding-bottom: 10px;
}

.avatar1 {
	position: relative;
	padding: 0px;
}

.avatar1{
	height: 250px;
    width: 250px;
    border: 4px solid #00C4B3 !important;
    margin-top: 5px;
    margin-right: 5px;
}

.centerEldiv{
	display: inline-block;
    vertical-align: middle;
    float: none;
	
	/*position: fixed;
	top: 50%;
	transform: translateY(-50%);*/
	/*position: fixed;
	top: 50%;
   	left: 50%;
	transform: translate(-50%, -50%);*/
}

.titleBold {
	font-family: 'Raleway-Bold';
	font-size:58px;
}

.buttonReef {
	font-family: 'Reef';
	font-weight: bold;
	color: #000;
	font-size: 25px;
}

.subtitleBold {
	font-family: 'Raleway-Bold';
	font-size:20px;
}

.pt-c{
	padding-top: 5px;
  }

.font-check {
	font-size: 18px;
	font-weight: bold;
	font-family: 'Raleway-bold';
}