<div class="col-md-12" style="padding: 25px;">
    <h4 class="tittle">Soporte Técnico</h4>
</div>
<div class="col-md-12 padding-0">
        <div class="col-md-12">
            <div class="panel box-v4">
                <div class="panel-body">
                    <div class="col-md-12">	
                            <div class="col-md-12 iconic-timeline">
                                    <div class="col-md-2 iconic-timeline-icon">
                                      <i class="icon-pencil icons"></i>
                                    </div>
                                    <div class="col-md-10 iconic-timeline-detail">
                                      <span class="pull-right">21:00</span>
                                      <h5>Write Notes
                                      </h5>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                    </div>
                                  </div>
            
                                  <div class="col-md-12 iconic-timeline">
                                    <div class="col-md-2 iconic-timeline-icon">
                                      <i class="icon-cup icons icon-primary"></i>
                                    </div>
                                    <div class="col-md-10 iconic-timeline-detail">
                                      <span class="pull-right">21:00</span>
                                      <h5>Break
                                      </h5>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                    </div>
                                  </div>
                                  <div class="col-md-12 iconic-timeline">
                                    <div class="col-md-2 iconic-timeline-icon">
                                      <i class="icon-call-end icons icon-danger"></i>
                                    </div>
                                    <div class="col-md-10 iconic-timeline-detail">
                                      <span class="pull-right">21:00</span>
                                      <h5>Call the clients
                                      </h5>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                    </div>
                                  </div>
                                  <div class="col-md-12 iconic-timeline">
                                    <div class="col-md-2 iconic-timeline-icon">
                                      <i class="icon-call-end icons icon-warning"></i>
                                    </div>
                                    <div class="col-md-10 iconic-timeline-detail">
                                      <span class="pull-right">21:00</span>
                                      <h5>Call the clients
                                      </h5>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                    </div>
                                  </div>
                                  <div class="col-md-12 iconic-timeline">
                                    <div class="col-md-2 iconic-timeline-icon">
                                      <i class="icon-call-end icons icon-info"></i>
                                    </div>
                                    <div class="col-md-10 iconic-timeline-detail">
                                      <span class="pull-right">21:00</span>
                                      <h5>Call the clients
                                      </h5>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                    </div>
                                  </div>
                                  <div class="col-md-12 iconic-timeline">
                                    <div class="col-md-2 iconic-timeline-icon">
                                      <i class="icon-call-end icons icon-success"></i>
                                    </div>
                                    <div class="col-md-10 iconic-timeline-detail">
                                      <span class="pull-right">21:00</span>
                                      <h5>Call the clients
                                      </h5>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                    </div>
                                  </div>
                                  <div class="col-md-12 iconic-timeline">
                                    <div class="col-md-2 iconic-timeline-icon">
                                      <i class="icon-call-end icons icon-default"></i>
                                    </div>
                                    <div class="col-md-10 iconic-timeline-detail">
                                      <span class="pull-right">21:00</span>
                                      <h5>Call the clients
                                      </h5>
                                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                    </div>
                                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>