<div class="col-md-12" style="padding: 25px;">
	<h4 class="tittle">Nuevo Terapeuta</h4>
</div>

<div class="col-md-12 col-xs-12 padding-0 content1">
	<div class="col-md-12">
		<div class="panel box-v4">
			<div class="panel-body" style="padding-top: 10px;">
				<h4 class="tittle" style="padding-bottom: 15px;">Información personal</h4>
				<div class="row">
					<form id="registerTherapist">
						<div class="col-md-12 custom-top">
							<div class="form-group form-animate-text">
								<input type="text" class="form-text" name="tname" id="tname" required>
								<span class="bar"></span>
								<label>Nombre</label>
							</div>
						</div>
						<div class="col-md-12 custom-top">
							<div class="form-group form-animate-text">
								<input type="text" class="form-text" name="tfirstname" id="tfirstname" required>
								<span class="bar"></span>
								<label>Apellido paterno</label>
							</div>
						</div>
						<div class="col-md-12 custom-top">
							<div class="form-group form-animate-text">
								<input type="text" class="form-text" name="tlastname" id="tlastname" required>
								<span class="bar"></span>
								<label>Apellido materno</label>
							</div>
						</div>
						<div class="col-md-12 custom-top">
							<div class="form-group form-animate-text">
								<input type="text" class="form-text" name="temail" id="temail" required>
								<span class="bar"></span>
								<label>Correo electrónico</label>
							</div>
						</div>
					</form>
				</div>
				<hr>
				<h4 class="tittle" style="padding-bottom: 15px;">Servicios</h4>
				<div class="row">
					<div class="col-md-12 custom-top">
						<div class="col-md-12">
							<input type="checkbox" name="service" value="1">Individual
						</div>
						<div class="col-md-12">
							<input type="checkbox" name="service" value="2">Pareja
						</div>
						<div class="col-md-12">
							<input type="checkbox" name="service" value="3">Deportiva
						</div>
						<div class="col-md-12">
							<input type="checkbox" name="service" value="4">Tanatología
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-pill btn-primary pull-right" id="saveThera">
							<i class="fa fa-save"></i>&nbsp;&nbsp;Crear Terapeuta
						</button>
					</div>
				</div>
			</div>
		</div> 
	</div>	
</div>