<div class="col-md-12 eldiv portada">
	<h1 style="font-size: 45px; padding-top:25px;">BIENVENID@</h1>
	<div class="row text-center" style="padding-top: 60px;">
		<div class="col-md-12">
			<span style="font-size: 20px;">Tu terapeuta es:</span>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-12">
			<span style="font-size: 20px;">Tu plan contratado es:</span>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-12">
			<span style="font-size: 20px;">Citas agendadas:</span>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-12 custom-top">
			<button class="btn btn-primary btn-pill" id="btn-home" style="color:#00C4B3 !important; background-color:#fff !important; font-weight:bold !important;">Agendar Sesión</button>
		</div>
	</div>
</div>